.left {
    width: 70%;

    .images {
        display: flex;
        flex-wrap: wrap;
    }
}

.image-container {
    margin: 5px;
    min-width: 150px;
    min-height: 150px;
    max-width: 100%;
    max-height: 24vh;
    position: static;
    display: block;

    .image {
        min-width: 150px;
        min-height: 150px;
        max-width: 100%;
        max-height: 24vh;
        position: absolute;
    }
    .overlay {
        position: absolute;
    }
}

.overlay-container {
    position: relative;
}