.left {
    width: 65%;
    margin-left: 10%;

    .images > div {
        display: flex;
        flex-wrap: wrap;
    }
}

.color-picker-panel .MuiTypography-root-41 {
    color: #fff;
}

.image-container {
    margin: 5px;
    height: 150px;
    position: relative;

    .image {
        height: 150px;
        position: absolute;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}